/* Grety Flat colors Library */
.violetBg {
  background-color: #8e44ad;
}

.violetText {
  color: #ffffff;
}

.turquoiseBg {
    background-color: #16a085 !important;    
}

.turquoiseLightBg {
    background-color: #1abc9c !important;    
}

.wine {
    background-color: #c0392b !important; 
    
}

